{% extends 'IsseiMthBundle::base.html.twig' %}

{% block article %}
    <div class="sns-buttons">
        <fb:like href="http://issei-m.com/omeko-mth/"
                 send="false"
                 layout="button_count"
                 show_faces="false"></fb:like>
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-url="http://issei-m.com/omeko-mth/"
           data-text="ホルモンの新曲「え・い・り・あ・ん」当たりページはここだ！"
           data-via="Issei_M"
           data-lang="ja"
           data-hashtags="mth,マキシマムザホルモン">ツイート</a>
    </div>

    <div id="contents_main">
        <div class="keyword">
            <b>現在のキーワード：</b><a href="https://www.google.co.jp/search?q={{ keyword|url_encode }}" target="_blank">{{ keyword }}</b>
        </div>
        <a href="{{ url }}" target="_blank" class="btn btn-large btn-block btn-primary">新曲「え・い・り・あ・ん」のMVをみる</a>
    </div>

    <div>
        <small>
            {#企画は非常に面白いのですがLPのインデクスが微妙だったり、検索を連打していると規制が掛かってしまう関係で本当に聴き込みたい人が満足に試聴できなくなるのではと思い、急遽作りました。<br><br>#}
            ※「当たりページ」が間違っている場合はしばらく経ってから再度お試し下さい。<br>
            ※公式発表の通りMVが見られるのは6月6日の22時までなので、その時が来たら適当に閉鎖します。<br>
            ※即興で作ったので動作が不安定かもしれません。何かありましたら<a href="https://twitter.com/issei_m" target="_blank">@Issei_M</a>までご連絡頂ければ幸いです。
        </small>
    </div>
{% endblock %}