{% extends 'IsseiMthBundle::base.html.twig' %}

{% block article %}
    <div class="sns-buttons">
        <fb:like href="http://issei-m.com/omeko-mth/"
                 send="false"
                 layout="button_count"
                 show_faces="false"></fb:like>
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-url="http://issei-m.com/omeko-mth/"
           data-text="ホルモンの新曲「え・い・り・あ・ん」当たりページはここだ！"
           data-via="Issei_M"
           data-lang="ja"
           data-hashtags="mth,マキシマムザホルモン">ツイート</a>
    </div>
    <div id="contents_main">
        <small>
            本サービスはSymfony2によって開発されています。
            ソースコードを記念に<a href="https://github.com/issei-m/issei-mth-bundle" target="_blank">公開</a>しておきますｗ
        </small>
    </div>
{% endblock %}